* {
    box-sizing: border-box;
    font-family: "Libre Bodoni", serif;
}

section {
    position: relative;
}

#home{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
}

.nav-item a{
    margin-right: 80px;
    font-size: 23px;
    color: white;
}
.nav-item a:hover {
    color: #d63384;
}

.swiper{
    display: flex;
    justify-content: center;
    align-items: end;
}

.swiper .cek {
    position: absolute;
    margin-bottom: 80px;
}

.swiper .happy {
    position: absolute;
    margin-bottom: 350px;
    color: white;
}

.happy h1 {
    font-size: 95px;
}

.happy h3 {
    font-size: 40px;
    text-align: center;
}

.btn-text {
    margin-left: 35px;
    font-size: 18px;
    font-family: "Dela Gothic One", sans-serif;
}

.btn-text:hover {
    transform: scale(1.1);
    color: #d63384;
}


.navbar-brand {
    color: white;
    font-size: 48px;
    font-weight: 700;
}

.navbar-brand:hover {
    color: #d63384;
}

.about-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-text-about {
    font-size: 13px;
    font-family: "Dela Gothic One", sans-serif;
}

.btn-text-about:hover {
    transform: scale(1.1);
    color: #d63384;
}

img {
    width: 100%;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "ndut4 ndut3" "ndut2 ndut2";
    gap: 16px;
    height: auto;
    box-sizing: border-box;
}

.img-grid-detail:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: 400;
}

.img-grid-detail {
    position: relative;
}

.img-grid-1:hover::after {
    content: 'Kondangan';
}
.img-grid-2:hover::after {
    content: 'Aquarrium Date';
}
.img-grid-3:hover::after {
    content: 'Bandung';
}


.img-grid img {
    width: 100%;
}

#ndut2 {
    grid-area: ndut2;
}
#ndut3 {
    grid-area: ndut3;
}
#ndut4 {
    grid-area: ndut4;
}
.video-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

#video-container {
    transition: width 0.5s ease, height 0.5s ease;
}

video {
    display: block;
    width:100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 20px;
}
#ending {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:pink;
    padding: 16px 128px;
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 4px;
}

@media only screen and (max-width: 480px) {
    #ending{
        padding: 16px 35px;
    }

    .card {
        width: 300px;
    }
    .blockquote {
        font-size: 15px;
    }

    .img-grid img {
        width: 100%;
    }

    .swiper .cek {
        position: absolute;
        margin-bottom: 20px;
        margin-right: 30px;
    }

    .btn-text {
        font-size: 10px;
    }

    .swiper .happy {
        margin-bottom: 60px;
    }

    .happy h1 {
        font-size: 25px;
        text-align: center;
    }
    
    .happy h3 {
        font-size: 20px;
        text-align: center;
    }

    .navbar-brand {
        color: #d63384 ;
        font-size: 20px;
        font-weight: 700;
    }

    .navbar-toggler {
        width: 30px; /* Ubah lebar tombol */
        height: 30px; /* Ubah tinggi tombol */
        padding: 5px; /* Kurangi padding */
      }
      .navbar-toggler-icon {
        width: 20px; /* Ubah ukuran ikon */
        height: 20px; /* Ubah ukuran ikon */
      }

      .navbar-costume{
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0;
        border-radius: 0px 0px 20px 20px;
    }
      .navbar-nav {
        float: left;
      }
      .nav-item a {
        font-size: 17px;
      }


}